<!DOCTYPE html>
<html>
<head>
  <title>Exceptions</title>
  <%= stylesheet_link_tag    "exceptions/application" %>
  <%= javascript_include_tag "exceptions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
