<h1>Failures</h1>
<ul>
<% @failures.each do |failure| %>
  <li><%= failure.type %></li>
  <li><%= failure.message %></li>
  <li><%= failure.syntax_highlighter((failure.format_backtrace)).html_safe %></li>
<% end %>
</ul>